<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Punto Coleccion</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="shortcut icon" type="icon-puntoC" href="img/LogoP2.png">
        <script src="https://kit.fontawesome.com/ec7737c18b.js"
            crossorigin="anonymous"></script>
    </head>
    <body>
        <header></header>
            <main class="main-detalleP">
                <section class="articulos-detalleP">
                    <div class="box_foto-principal"><img id="foto-principal-dp"
                        src=img\9c07093f32.webp alt="imagen funko" width="400px"
                        height="400px"></div>
                    <div class="box_fotos-secund"><img id="foto-2-dp"
                        src=img\img--2hq.webp alt="imagen-funko-perfil"
                        width="300px " height="300px">
                        <img id="foto-3-dp" src=img\img--3hq.jpg
                        alt="imagen-funko-perfil-2" width="300px" height="300px"></div>

            </section>
            <section class="nav-bar-detalleP">
                <ul>
                    <li><a href="/">INICIO</a></li>
                    <li><a href="#">/ NUESTRAS MARCAS</a></li>
                </ul>
            </section>
            <article class="compras-detalleP">
                <h3 id="nameP">NOMBRE DE FIGURA COLECCIONABLE/MARCA</h3>
                <p id="precioP">$6000</p>
                <p id="cuotasP">12 cuotas sin interes de $xxxxx</p>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Cantidad</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                
                    <button type="button" class="btn-detalleP">Agregar</button>
            <h5>sku:jhbdhbsdhbh<br>Categoria:Fonko,gfdsajkl.</h5>
            <div>
                <i class="fa-brands fa-instagram" style="color: #000000;"></i>
                <i class="fa-brands fa-facebook" style="color: #000000;"></i>
                <i class="fa-brands fa-twitter" style="color: #030303;"></i>
            </div>
            <h4>DUDAS O CONSULTAS</h4>
            <i href class="fa-brands fa-whatsapp" style="color: #4cd742;"></i>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio
                cupiditate, provident beatae praesentium iste unde! Consectetur
                nihil exercitationem aperiam accusantium pariatur placeat
                laboriosam in quam, at assumenda praesentium facere impedit.</p>
        </article>
    </main>
    <footer>
        <section class="footer_section_parte1">
            <article class="footer_section_article">
                <div class="footer_section_article_titulos">
                    <hr class="linea"><h4>síguenos</h4><hr class="linea">
                </div>
                <ul>
                    <li><a href target="_blank"><i
                                class="fa-brands fa-instagram"></i><p>
                                punto_coleccion<p></p></a></li>
                        <li><a href target="_blank"><i
                                    class="fa-brands fa-square-facebook"></i><p>
                                    puntocoleccion</p></a></li>
                        <li><a href target="_blank"><i
                                    class="fa-brands fa-twitter"></i><p>
                                    @puntonoticias</p></a></li>
                    </ul>
                </article>

                <article class="footer_section_article">
                    <div class="footer_section_article_titulos">
                        <hr class="linea2"> <h4>marcas destacadas</h4><hr
                            class="linea2">
                    </div>
                    <div class="footer_article_marcas_descatadas">
                        <img src="/img/pop!.png">
                        <img src="/img/banpresto.png">
                        <img src="/img/tsume.jpeg">
                        <img src="/img/bandai jpg.jpg">
                        <img src="/img/good-smile.png">

                    </div>
                </article>

                <article class="footer_section_article">
                    <div class="footer_section_article_titulos">
                        <hr class="linea"><h4>ayuda</h4><hr class="linea">
                    </div>
                    <ul>
                        <li><a href>La Empresa</a></li>
                        <li><a href>Preguntas Frecuentes</a></li>
                        <li><a href>Avisos Legales</a></li>
                        <li><a href>Contáctenos</a></li>

                    </ul>
                </article>
            </section>
            <section class="footer_section_parte2">
                <img src="/img/LogoP-footer.png" alt="Logo">
                <div class="footer_section_derechos_contactos">
                    <p>Copyright 2023©Punto Colección-Todos los derechos
                        reservados</p>
                    <p> Contacto:<i class="fa-brands fa-whatsapp"></i>11
                        76543234<i class="fa-solid fa-at"></i>contacto@puntocoleccion.com</p>
                </div>
            </section>

        </footer>
    </body>
</html>