<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Punto Coleccion</title> 
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type="icon-puntoC" href="img/LogoP2.png">
    <script src="https://kit.fontawesome.com/ec7737c18b.js" crossorigin="anonymous"></script>
</head>
<body>
    <header></header>
    <main class="main-detalleP"> 
        <section class="articulos-detalleP">
            <div class="box foto-principal"><img id="foto-principal-dp" src=img\9c07093f32.webp alt="imagen funko" width="400px" height="400px"></div>
            <div class="box fotos-secund"><img id="foto-2-dp" src=img\img--2hq.webp alt="imagen-funko-perfil" width= "300px " height="300px">
                <img id="foto-3-dp" src=img\img--3hq.jpg alt="imagen-funko-perfil-2" width="300px" height="300px"></div>

        </section>
        <section class="nav-bar-detalleP">
            <ul>
                <li><a href="/">INICIO</a></li>
                <li><a href="">/ NUESTRAS</a></li>
            </ul>
        </section>
        <article class="compras-detalleP">
            <h3 id="nameP">NOMBRE DE FIGURA COLECCIONABLE/MARCA</h3>
            <p id="precioP">$6000</p>
            <p id="cuotasP">12 cuotas sin interes de $xxxxx</p>
        
            <input type="number" value="100" max="1" min="100" id="input-Dp"></input>
            <button class="boton-agregar-producto" id="botonDP">agregar</button>
            <h5>sku:jhbdhbsdhbh<br>Categoria:Fonko,gfdsajkl.</h5>
            <div>
                <i class="fa-brands fa-instagram" style="color: #000000;"></i>
                <i class="fa-brands fa-facebook" style="color: #000000;"></i>
                <i class="fa-brands fa-twitter" style="color: #030303;"></i>
            </div>
            <h4>DUDAS O CONSULTAS</h4>
            <i href="" class="fa-brands fa-whatsapp" style="color: #4cd742;"></i>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio cupiditate, provident beatae praesentium iste unde! Consectetur nihil exercitationem aperiam accusantium pariatur placeat laboriosam in quam, at assumenda praesentium facere impedit.</p>
        </article>
    </main>
</body>
</html> 