<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/cbbf860933.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href='/css/style.css'>

    <title>Header</title>
    <link rel="stylesheet" href='/css/style.css'>
</head>
<body>
    <header>

    <div class="header__info">
        <p>Muñecos y Figuras coleccionables con envíos a toda Argentina.</p>
    </div>

        
<section class="header__contenedor">
    <div class="hamburger-icon">
        <i class="fa-solid fa-bars"></i>
    </div>

<section class="header__contenedor__centro">

    <div class="header__contenido">
        <a href="/"><div class="logo">
            <img src="img/LogoP2.png" alt="logo">
        </div></a>
        <div class="header__buscador__mobile">
        <div class="header__buscador">
            <form class="header__search">
                <input  type="text" placeholder= "¿Que estas buscando?">
                <i class="lupita icono fa-solid fa-magnifying-glass"></i>
            </form>
        </div>
    </div>
    </div>
<div class="header__buscador__desktop">
    <div class="header__buscador">
        <form class="header__search">
            <input  type="text" placeholder= "¿Que estas buscando?">
            <i class="lupita icono fa-solid fa-magnifying-glass"></i>
        </form>
    </div>
</div>
<section>
        <nav class="header_navegacion__icons">
            <a class="nav-opcion" href="">
            <i class="icono fa-regular fa-envelope icons_navegacion"></i>
            <p>Contacto</p>
            </a>
        

            <a class="nav-opcion" href="/login">

            <i class="fa-regular fa-user icons_navegacion"></i>
            <p>Ingresá</p>
            </a>
        

            <a class="nav-opcion" href="/carrito">

            <i class="fa-solid fa-cart-shopping icons_navegacion"></i>
            <p>$0.000,0</p>
        </a>
        </nav>
    </section>

</section>

</section>


    <section>
        <nav class="header__lista__desordenada">
            <ul>
                <li><a href="/">Inicio</a></li> 
                <li><a href="">Coleciones</a></li>
                <li><a href="">Categorias</a></li>
                <li><a href="">Marcas Premium</a></li>
                <li><a href="">Mas Vistos</a></li>
            </ul>
            </nav>
    </section>
</header>
</body>
</html>