<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/css/style.css'>
    <script src="https://kit.fontawesome.com/cbbf860933.js" crossorigin="anonymous"></script>
    <title>punto coleccion login</title>
</head>
<body>
    




    <main class="main">
        <form>
        <div class="form">
          <div class="opciones-registro1">
            <input class="input-registro" type="email" placeholder="correo electronico" />
          </div>
        </div>
        <div  class="form">
          
          <div class="opciones-registro1">
            <input  class="input-registro" type="password" placeholder="contraseña" />
            <i class=" eye fa-regular fa-eye-slash"></i>
          </div>
        </div>
        
  
  
        <div class="form">
          <div class="opciones-registro1">
            <button type="submit" class="inicio-reg-hijo">
                INGRESAR
            </button>
            </div>
        </div>
    
      <div  class="form">
          <div class="opciones-registro1">
              <button class="inicio-reg-hijo"> 
                  REGISTRAME
              </button>
              </div>
      </div>
        <div>
          <a> Crear Cuenta </a>
          <a href=""> ¿olvidó su contraseña? </a>
        </div>
      <div class="captcha-login">
        <form action="captcha" method="POST">
          <input type="checkbox" name="captcha" value="captcha">
          <label> no soy un robot</label>
        </form>
      </div>
    </form>
  
  </main>

</body>
</html>