<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/css/style.css'>
    <script src="https://kit.fontawesome.com/cbbf860933.js" crossorigin="anonymous"></script>
    <title>punto coleccion login</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

  <body>
  
    <header>

      <div class="header__info">
          <p>Muñecos y Figuras coleccionables con envíos a toda Argentina.</p>
      </div>
  
          
  <section class="header__contenedor">
      <div class="hamburger-icon">
          <i class="fa-solid fa-bars"></i>
      </div>


    <main class="main">

    <h1>INGRESA</h1>

        <form class="formulario__general">
        <div class="form">
          <div class="opciones-registro1">
            <input class="input-registro" type="email" placeholder="correo electronico" />
          </div>
        </div>
        <div  class="form">
          
          <div class="opciones-registro1">
            <input  class="input-registro" type="password" placeholder="contraseña" />
            <i class=" eye fa-regular fa-eye-slash"></i>
          </div>
        </div>
        
        <div class="form">
          <div class="opciones-registro1">
            <button type="submit" class="inicio-reg-hijo">
                INGRESAR
            </button>
            </div>
        </div>
    
      <div  class="form">
          <div class="opciones-registro1">
              <button class="inicio-reg-hijo"> 
                  REGISTRAME
              </button>
              </div>
      </div>
    </form>

    <form>
        
      <div class="opciones-de-registro">
        <a> Crear Cuenta </a> 
    
        <a href=""> ¿olvidó su contraseña? </a>
      </div>
    </form>

  </main>

</body>
</html>