body{
    background-color: #dee2e6;
    margin: 0;
}
.main-detalleP{
    margin: 10px 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.articulos-detalleP{
    width: 30vw;
    margin-bottom: -13%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box_foto-principal{
    width: 85%;
    margin-left: 3%;
    display: flex;
    align-content: center;
    justify-content: space-around;
}
#foto-principal-dp{
    height: 66vw;
    margin-top: 5vh;
    border: 1px solid #000;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    width: 65vw;
    padding: 5%;
    cursor: pointer
}
.box_fotos-secund img{
    border: 1px solid #000;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.box_fotos-secund{
    display: flex;
    gap: 12px;
    margin-top: 10px;
    margin-bottom: -52px;
    justify-content: space-between;
}
#foto-2-dp{
    height: 34vw;
    border: 1px solid #000;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    width: 33vw;
    padding: 5%;
    cursor: pointer;
}
#foto-3-dp{
    width: 29vw;
    height: 35vw;
    margin-bottom: 38%;
    cursor: pointer
}
.nav-bar-detalleP{
    background-color: black;
    width: 100%;
    display: flex;
    height: 30px;
    margin: 5%;
    justify-content: center;
    align-items: center;
    transition:1sm;
}
.nav-bar-detalleP ul{
    display: flex;
}
.nav-bar-detalleP ul li a{
    color:white;
}
.nav-bar-detalleP:hover{
    background-color: rgb(39, 234, 168);
}
.compras-detalleP{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.box_detalleP-info{
    font-weight: bold;
    margin: 8%;
}
#nameP{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: rgb(38, 36, 36);
    font-weight: revert-layer;
}
#precioP{
    font-weight: bold;
}
#cuotasP{
    font-size: 10px;
    font-weight: bold;
    color:var(--Verde);
}
.form-select{
    width: 45%;
}
.btn-detalleP {
    display: flex;
    background-color: black;
    color:var(--Verde);
    border-radius: 50px;
    width: 44%;
    justify-content: center;
    margin-left: 50%;
    padding: 1%;
    border-color:var(--Verde);
}
.fa-solid.fa-cart-shopping{
    font-size: 10px;
    margin-top: 6px;
    margin-left: 10px
}
h5{
    font-size: 8px;
}
/* transform and animations  */
.btn-detalleP:hover{
    background-color: var(--Verde);
    border-color:var(--Negro);
    color: var(--Negro);
}
#foto-principal-dp:hover{
    -webkit-transform:scale(1.3);transform:scale(1.1);
    box-shadow: 0px 0px 15px 15px #27EAA8;
}
#foto-2-dp:hover{
    -webkit-transform:scale(1.3);transform:scale(1.1);
    box-shadow: 0px 0px 15px 15px #27EAA8;
}
#foto-3-dp:hover{
    -webkit-transform:scale(1.3);transform:scale(1.1);
    box-shadow: 0px 0px 15px 15px #27EAA8;
}
@media (min-width:768px){
body{
    max-width: 768px;
    border:3px solid var(--Negro);
    }
.main-detalleP{
    display: flex;
}
.articulos-detalleP {
    width: 8vw;    
    display: flex;
    align-items: flex-start;
}
.box_fotos-secund {
    margin-bottom: -34px;
    justify-content: space-evenly;
    margin-left: -353%;
}
#foto-2-dp{
    height: 38vw;
    width: 31vw
}
#foto-3-dp{
    width: 29vw;
    height: 38vw
}
.box_fotos-secund img{
    width: 110%;
    height: 110%;
}
.nav-bar-detalleP{
    margin-top: 31px;
}
.compras-detalleP{
    margin: 10px 21px;
    gap: 10p;
    margin-left: -9%;
}
#nameP{
    width: 99%;
    color: grey;
    margin-bottom: 10%;
    margin-top: -6%;
    margin-left: -9%;
    font-size: 20px;
}
#precioP{
    margin-top: -6.5%;
    margin-bottom: 3%
}
#cuotasP{
    color: #178862;
    margin-bottom: 2%;
    margin-top: -2%;
    margin-left: 0%;
    font-size: 20px;
}
.btn-detalleP {
    width: 37%;
    margin-top: -4%;
    font-size: 12px;
}
.box_detalleP-info {
    margin: 3%;
    height: 224px;
    margin-left: 13%;
} 
.linea-div-detalleP{
    color: black;
    height: 5px;
    width: 50%;
}
}


@media (min-width:1024px){
    body{
        max-width: 1024px;
    }
    .main-detalleP{
        display: flex;
        min-width: 1024px;
    }
    .articulos-detalleP {
        width: 8vw;
        margin-top: 3%;
        display: flex;
        align-items: flex-start;
        margin-left: -52%;
        gap: 17px;
    }
    .box_foto-principal{
        width: 5vw;
        margin-top: 24%;
        margin-left: 50%
    }
    #foto-principal-dp {
        height: 57vh;        
    }
    .box_fotos-secund {
        margin-left: -162%;
        gap: 24px;
    }
    #foto-2-dp {
        width: 17vw;
        height: 27vh;
    }
    #foto-3-dp {
        width: 18vw;
        height: 27vh;
    }
    .box_detalleP-info {
        margin: 3%;
        height: 224vh;
    } 
    #nameP{
        color: grey;
        margin-bottom: 10%;
        margin-top: -2%;
        margin-left: 1%;
        font-size: 16px;
        font-size: 22px;
        width: 46%;
    }
    .nav-bar-detalleP{
        width: 48vw;
        height: 5vh;
        font-size: 19px;
        max-width: 1024;
        margin-left: 52%;
        margin-top: -62%;
    }
    .compras-detalleP{
        margin-left: 49%;
        border: 2px solid;
        width: 48vw;
        height: 31vw;
        margin-top: -4%;
    }
    #precioP{
        margin-left: 0%;
        font-size: 23px;
    }
    #cuotasP{
        font-size: 17px;
        margin-left: 0%
    }
    .form-select{
        margin: 10% -47%;
        margin-left: 2%;
    }
    .btn-detalleP{
        margin-top: -12%;
        font-size: 16px;
        margin-left: 60%;
    }
    h5{
        margin-left: 3%;
    }
    .compras-detalleP div{
        margin-left: 3%;
        font-size: 18px;
    }
    h4{
        font-size: 16px;
        margin-left: 3%;
    }
    .fa-whatsapp:before {
        margin-left: 3%;
        font-size: 30px;
    }
    .box_detalleP-info{
    margin-top: 35%;
    width: 73vw;
    margin-left: -5%;
    font-size: 25px;
    height: 22vh;
    }
    
}
@media (min-width:1440px){
    .main-detalleP{
        display: flex;
        max-width: 1440px;
        border: solid 3px green;
    }
    .nav-bar-detalleP{
    margin-top: -59%;
    max-width: 1024px;
    margin-left: 52%;
    font-size: 22px;
    height: 6vh;
    }
    .box_foto-principal {
        width: 4vw;
    }
    #foto-principal-dp {
        height: 52vh;
    }
    .box_fotos-secund{
        margin-left: -120%;
        gap: 18px;
    }
    #foto-2-dp {
        width: 15vw;
        height: 31vh
    }
    #foto-3-dp {
        width: 16vw;
        height: 31vh;
    }
    .box_detalleP-info {
        margin-top: 30%;
        width: 73vw;
        margin-left: -1%;
        font-size: 34px;
        height: 24vh;
    }
    body{
        max-width: 1440px; 
        border:3px solid rgb(14, 44, 14);
    }
}
