body{
    background-color: #dee2e6;
    margin: 0;
}
.main-detalleP{
    margin: 10px 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.articulos-detalleP{
    width: 95vw;
    margin-bottom: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box_foto-principal{
    width: 80%;
    margin: 3% 3%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-top: 4vh;
}
#foto-principal-dp{
    max-width: 100%;
    height: auto;
    display: inline-block;
    border: 1px solid #000;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.box_fotos-secund img{
    height: 34vw;
    border: 1px solid #000;
    border-radius: 20%;
    width: 30vw;
    padding: 3%;
}
.box_fotos-secund{
    width: 80vw;
    height: 21vh;
    display: flex;
    margin-top: 13px;
    margin-bottom: -6px;
    justify-content: space-between;
}
#foto-2-dp{
    height: 36vw;
    border: 1px solid #000;
    border-radius: 20%;
    width: 31vw;
    padding: 3%;
    margin-left: 2vh
}
#foto-3-dp{
    width: 31vw;
    height: 36vw;
    margin-bottom: 38%;
    margin-right: 4vw;
}
.nav-bar-detalleP{
    background-color: black;
    width: 100%;
    display: flex;
    height: 30px;
    margin: 5%;
    justify-content: center;
    align-items: center;
    transition:1sm;
}
.nav-bar-detalleP ul{
    display: flex;
}
.nav-bar-detalleP ul li a{
    color:white;
}
.nav-bar-detalleP:hover{
    background-color: rgb(39, 234, 168);
}
.compras-detalleP{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.box_detalleP-info{
    font-weight: bold;
    margin: 8%;
}
#nameP{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: rgb(38, 36, 36);
    font-weight: revert-layer;
}
#precioP{
    font-weight: bold;
}
#cuotasP{
    font-size: 10px;
    font-weight: bold;
    color:var(--Verde);
}
.form-select{
    width: 45%;
}
.btn-detalleP {
    display: flex;
    background-color: black;
    color:var(--Verde);
    border-radius: 50px;
    width: 44%;
    justify-content: center;
    margin-left: 50%;
    padding: 1%;
    border-color:var(--Verde);
}

.h5-dp{
    font-size: 8px;
}
/* transform and animations  */
.btn-detalleP:hover{
    background-color: var(--Verde);
    border-color:var(--Negro);
    color: var(--Negro);
}
#foto-principal-dp:hover{
    border-color: rgba(0,0,0,.3);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    opacity: 1;
}
#foto-2-dp:hover{
    border-color: rgba(0,0,0,.3);
    transform: translateY(-5px);
    transform: translateY(-5px);
    opacity: 1;
}
#foto-3-dp:hover{
    border-color: rgba(0,0,0,.3);
    transform: translateY(-5px);
    transform: translateY(-5px);
    opacity: 1;
}
@media (min-width:768px){
body{
    max-width: 768px;
    border:3px solid var(--Negro);
    }
.main-detalleP{
    display: flex;
}
.articulos-detalleP {
    width: 95vw;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    gap: 17px;
    margin-bottom: 8vh
}
.box_foto-principal {
    width: 53%;
    margin: 3% 3%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-top: 2vh;
}
.box_fotos-secund {
    height: 50vh;
    width: 49vw;
    gap: 27px;
}
#foto-2-dp{
    width: 21vw;
    height: 27vw;
    opacity: .5;
    transition: transform .6s,opacity .6s;
}
#foto-3-dp{
    width: 21vw;
    height: 27vw;
    opacity: .5;
    transition: transform .6s,opacity .6s;
}
.nav-bar-detalleP{
    margin-top: 31px;
    width: 77%;
}
.compras-detalleP{
    margin: 10px 21px;
    gap: 10p;
    margin-left: -9%;
}
#nameP{
    width: 99%;
    color: grey;
    margin-bottom: 10%;
    margin-top: -6%;
    font-size: 20px;
}
#precioP{
    margin-top: -6.5%;
    margin-bottom: 3%
}
#cuotasP{
    color: #178862;
    margin-bottom: 2%;
    margin-top: -2%;
    margin-left: 0%;
    font-size: 20px;
}
.btn-detalleP {
    width: 37%;
    margin-top: -4%;
    font-size: 12px;
}
.box_detalleP-info {
    margin: 3%;
    height: 224px;
    margin-left: 2%;
    width: 73%
} 
.linea-div-detalleP{
    color: black;
    height: 5px;
    width: 50%;
}
}

@media (min-width:1024px){
    body{
        max-width: 1024px;
    }
    .main-detalleP{
        display: flex;
        min-width: 1000px;
    }
    .articulos-detalleP {
        width: 95vw;
        margin-top: 3%;
        display: flex;
        align-items: flex-start;
        margin-left: 0%;
        gap: 17px;
    }
    .box_foto-principal{
        width: 45vw;
        margin-top: 5%;
        margin-left: 1%;
    }
    #foto-principal-dp {
        height: 57vh;        
    }
    .box_fotos-secund {
        width: 41vw;
        margin-left: 3vw;
        gap: -1px;
        height: 30vh;
        margin-bottom: -102vh;
    }
    #foto-2-dp {
        width: 19vw;
        height: 29vh;
        margin-left: 1vh;
    }
    #foto-3-dp {
        width: 19vw;
        height: 29vh;
    }
    .box_detalleP-info {
        margin-top: 8%;
        width: 73vw;
        margin-left: 5vw;
        font-size: 25px;
        height: 44vh
    } 
    #nameP{
        width: 41vw;
        margin-left: 3vw;
        gap: -1px;
        height: 30vh;
        /* margin-bottom: -102vh; */
    }
    .nav-bar-detalleP{
        border: 2px solid;
        width: 48vw;
        height: 5vw;
        /* margin-top: -73%; */
        margin-left: 46vw;
    }
    .compras-detalleP{
        margin-left: 48.5%;
        width: 48vw;
        height: 36vw;
        max-width: 900px;
        
    }
    #precioP{
        margin-left: 0%;
        font-size: 23px;
    }
    #cuotasP{
        font-size: 17px;
        margin-left: 0%
    }
    .form-select{
        margin: 10% -47%;
        margin-left: 2%;
    }
    .btn-detalleP{
        margin-top: -12%;
        font-size: 16px;
        margin-left: 60%;
    }
    .h5-dp{
        margin-left: 3%;
    }
    .compras-detalleP div{
        margin-left: 3%;
        font-size: 18px;
    }
    .h4-dp{
        font-size: 16px;
        margin-left: 3%;
    }
    /* .fa-whatsapp:before {
        margin-left: 3%;
        font-size: 30px;
    }     */
}
@media (min-width:1440px){
    .body-detallesP{
        max-width: 1440px; 
    }
    .main-detalleP{
        width: 95vw;
        max-width: 1440px;
    }
    .articulos-detalleP {
        width: 95vw;
        margin-top: 3%;
        gap: 17px;
    }
    .nav-bar-detalleP{
        max-width: 1024px;
        margin-left: 38%;
        font-size: 22px;
        height: 8vh;
    }
    .box_foto-principal {
        margin-left: 1%;
        width: 27vw;
        height: 25vw;
        margin-top: 0.5%;
        
    }
    .compras-detalleP {
        margin-left: 38%;
        width: 48vw;
        height: 27vw;
        margin-top: -6.5%;
    }
    #foto-principal-dp {
        height: 52vh;
        margin-top: 2vh;
    }
    .box_fotos-secund{
        width: 27vw;
        margin-top: 2vh;
        margin-bottom: -102vh;
        margin-left: 1vw;
    }
    #foto-2-dp {
        width: 11vw;
    height: 29vh;
    }
    #foto-3-dp {
        width: 11vw;
        height: 29vh;
    }
    #nameP{
        width: 41vw;
        margin-left: 0vw;
        gap: -1px;
        height: 30vh;
        margin-bottom: -14vh;
    }
    .box_detalleP-info {
        margin-top: 18%;
        width: 73vw;
        margin-left: 5vw;
        font-size: 25px;
        height: 43vh;
    }
}
