body{
    background-color: #dee2e6;
    margin: 0;
}
.main-detalleP{
    margin: 10px 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.articulos-detalleP{
    width: 30vw;
    margin-bottom: -13%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box_foto-principal{
    width: 85%;
    margin-left: 49%;
    display: flex;
    align-content: center;
    justify-content: space-around;
}
#foto-principal-dp{
    width: 250px;
    height: 250px;
    margin-left: -41%;
    border: 2px solid rgb(94, 90, 90);
    border-radius: 21%;
    cursor:pointer;
}
.box_fotos-secund img{
    border: 2px solid rgb(94, 90, 90);
    border-radius: 28%;
    box-shadow: rgba(78, 74, 74, 0.486);
}
.box_fotos-secund{
    display: flex;
    gap: 16px;
    margin-top: 10px;
    margin-bottom: -70px;
    justify-content: space-between;
}
#foto-2-dp{
    width: 100px;
    height: 100px;
    margin-bottom: 55%;
    cursor:pointer;
}
#foto-3-dp{
    width: 100px;
    height: 105px;
    margin-bottom: 38%;
    cursor:pointer;
}
.nav-bar-detalleP{
    background-color: black;
    width: 100%;
    display: flex;
    height: 30px;
    margin: 5%;
    justify-content: center;
}
.nav-bar-detalleP ul{
    display: flex;
}
.nav-bar-detalleP ul li a{
    color:white;
}
.nav-bar-detalleP:hover{
    background-color: rgb(39, 234, 168);
}
.compras-detalleP{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.box_detalleP-info{
    font-weight: bold;
    margin: 8%;
}
#nameP{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: rgb(38, 36, 36);
    font-weight: revert-layer;
}
#precioP{
    font-weight: bold;
}
#cuotasP{
    font-size: 10px;
    font-weight: bold;
    color:var(--Verde);
}
.form-select{
    width: 45%;
}
.btn-detalleP {
    display: flex;
    background-color: black;
    color:var(--Verde);
    border-radius: 50px;
    width: 44%;
    justify-content: center;
    margin-left: 50%;
    padding: 1%;
    border-color:var(--Verde);
}
.fa-solid.fa-cart-shopping{
    font-size: 10px;
    margin-top: 6px;
    margin-left: 10px
}
h5{
    font-size: 8px;
}
/* transform and animations  */
.btn-detalleP:hover{
color:black;
background-color: var(--Verde);
}
#foto-principal-dp:hover{
    -webkit-transform:scale(1.3);transform:scale(1.1);
    box-shadow: 0px 0px 15px 15px #27EAA8;
}
#foto-2-dp:hover{
    -webkit-transform:scale(1.3);transform:scale(1.1);
    box-shadow: 0px 0px 15px 15px #27EAA8;
}
#foto-3-dp:hover{
    -webkit-transform:scale(1.3);transform:scale(1.1);
    box-shadow: 0px 0px 15px 15px #27EAA8;
}
@media (min-width:768px){
.main-detalleP{
    display: flex;
}
.articulos-detalleP {
    width: 8vw;    
    display: flex;
    align-items: flex-start;
}
.box_fotos-secund {
    margin-bottom: -36px;
    justify-content: space-between;
    margin-left: -102%;
}
.box_fotos-secund img{
    width: 110%;
    height: 110%;
}
.nav-bar-detalleP{
    margin-top: 31px;
}
.compras-detalleP{
    margin: 10px 21px;
    gap: 10p;
    margin-left: -9%;
}
#nameP{
    width: 99%;
    color: grey;
    margin-bottom: 10%;
    margin-top: -6%;
    margin-left: -9%;
    font-size: 20px;
}
#precioP{
    margin-top: -6.5%;
    margin-bottom: 3%
}
#cuotasP{
    color: #178862;
    margin-bottom: 2%;
    margin-top: -2%;
    margin-left: 0%;
    font-size: 20px;
}
.btn-detalleP {
    width: 37%;
    margin-top: -4%;
    font-size: 12px;
}
.box_detalleP-info {
    margin: 3%;
    height: 224px;
    margin-left: 13%;
} 
}


@media (min-width:1024px){
    .main-detalleP{
        display: flex;
        max-width: 1440px
    }
    .articulos-detalleP {
        width: 8vw;
        margin-top: 3%;
        display: flex;
        align-items: flex-start;
        margin-left: -62%;
        gap: 17px;
    }
    .box_foto-principal{
        width: 5vw;
        margin-top: 24%;
    }
    #foto-principal-dp {
        width: 300px;
        height: 300px;
        margin-left: 37%;
    }
    .box_fotos-secund {
        margin-left: -85%;
        display: flex;
        gap: 16px;
        margin-top: 10px;
        margin-bottom: -36px;
        justify-content: space-between;
    }
    #foto-2-dp {
        width: 122px;
        height: 165px;
    }
    #foto-3-dp {
        width: 127px;
        height: 168px
    }
    .box_detalleP-info {
        margin: 3%;
        height: 224vh;
    } 
    #nameP{
        color:grey;
        margin-bottom: 10%;
        margin-top: -6%;
        margin-left: -35%;
        font-size: 16px;
        font-size: 18px;
    width: 45%;
    }
    .nav-bar-detalleP{
        width: 45vw;
        margin-left: 35%;
        margin-top: -44%;
    }
    .compras-detalleP{
        margin-left: 58%;
    }
    #precioP{
        margin-left: -33%;
        font-size: 18px;
    }
    #cuotasP{
        font-size: 16px;
    margin-left: -34%;
    }
    .form-select{
        margin: 7% -34%;
    }
    .btn-detalleP{
        margin-top: -12%;
        font-size: 16px;
    }
    h5{
        margin-left: -34%;
    }
    .compras-detalleP div{
        margin-left: -34%;
    }
    h4{
        font-size: 8px;
    margin-left: -34%;
    }
    .fa-whatsapp:before {
        margin-left: -34%;
    }
    .box_detalleP-info{
        margin-top: 25%;
        width: 73vw;
        margin-left: -5%;
        font-size: 25px;
        height: 16vh;
    }
    
}
@media (min-width:1440px){
    .main-detalleP{
        display: flex;
        max-width: 1440px
    }
    .nav-bar-detalleP{
        margin-top: -29%;
    }
    .box_fotos-secund{
        margin-left: -26%;
        gap: 21px;
    }
    body{
        max-width: 1440px; 
    }
}
