footer {
    background-color: #000;
    border-top: 0.5px solid var(--Verde);
    background-attachment: fixed;
    color: var(--Blanco);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    margin-top: 20px;
    
}
footer i {
    color: #FFF;
}

footer section {

width: 100%;
}
footer section article p {

    display: none;
}

.footer_section_article h4 {

font-size: 10px;
text-transform: uppercase;
}

.footer_section_parte2 p {
    font-size: 8px;
    display: block;
}
.footer_section_article a {
font-size: 8px;
color: var(--Blanco);

}

.footer_section_parte1 {
    display:flex; 
    justify-content: space-between;
    
}

.footer_section_parte2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.footer_section_article {
    margin-top: 10px;
    width: 33.33%;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    
}
.footer_section_article li {
    margin-bottom: 10px;
}
.footer_article_marcas_descatadas {
    display:flex;
    flex-wrap: wrap;
    gap:5px;
    align-items: center;
    justify-content: space-around;
}



.footer_article_marcas_descatadas img {
    width: 25%;
    }

.footer_section_parte2 img {
    width: 50px;
    height: 50px;
}

.footer_section_derechos_contactos {

display: flex;
flex-direction: column;
align-content: center;

}

.footer_section_derechos_contactos i {
    padding: 3px;
}

.linea {
    opacity: 0%;;
    }

    .linea2 {
        opacity: 0%;;
    }
    


@media (min-width : 768px) {

    .footer_section_article_titulos {
        
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: center ;
        
    }
    .linea {
        opacity: 100%;
        width: 60px;
        background-color: var(--Verde);
        margin-top: 6px;
        padding: 1px;
        border: none;
        border-radius: 2px;
        margin-left: 5px;
        margin-right: 5px;
        
        
    }
    .linea2 {
        opacity: 100%;
        background-color: var(--Verde);
        margin-top: 6px;
        padding: 1px;
        border: none;
        border-radius: 2px;
        margin-left: 3px;
        margin-right: 3px;
        width: 100%;
        
        
    }
    
    footer section article p {

        display: inline;
        margin-left: 2px;
        
    }

    .footer_section_parte2 p {
        font-size: 10px;
    }

    .footer_section_article a {
        font-size: 14px;
    }
    
    .footer_section_article h4 {

        font-size: 14px;
        
    }

    .footer_section_article li {
        margin-bottom: 20px;
    }


}

@media (min-width : 1024px) {

    .linea {
        width: 100px;
    }
    .footer_section_parte2 p {
        font-size: 16px;
    }

    .footer_section_article a {
        font-size: 16px;
    }
    
    .footer_section_article h4 {

        font-size: 16px;
        
    }

    .footer_section_article li {
        margin-bottom: 30px;
    }

    .footer_section_parte2 img {
        width: 80px;
        height: 80px;
    }


}





