
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_navegacion__icons i:hover  {
    color: var(--Verde);
}

.header_navegacion__icons p:hover {
    color: var(--Verde);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    margin-bottom: 70%;
}

.INGRESA {
    margin-bottom: 15px;
}

.formulario__general {
    width: 90%;
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.opciones-registro1 {
    position: relative;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}

.input-registro {
    width: 100%; 
    padding: 7px;
    border: 2px solid #60e5b8; 
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2)
}

.eye {
    position: absolute;
    right: 20px;
    top: 19px;
}

.inicio-regristro {
    height: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 10px;
    
}

.inicio-reg-hijo {
    width: 100%;
    background-color: black;
    padding: 8px;
    color: #27EAA8;
    border-radius: 30px;
    font-weight: bold;
}

.captcha-login {
    width: 30%;
    height: 50%;
    align-items: center;
    border: 2px solid #27EAA8;
    background-color: rgba(185, 183, 183, 0.32);
    position: relative;
    right: -32%;
    margin-top: 7%;
    
}

.opciones-de-registro {
    font-size: 15px;
display: flex;
gap: 15px;
}


.g-recaptcha {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


@media (min-width: 768px) {
    .formulario__general {
        width: 63%;
    }
    
    .opciones-registro1 input {
        padding: 15px;
    }

    .inicio-reg-hijo {
        padding: 15px;
    }

    .opciones-de-registro {
        gap: 135px;
        font-size: 17px;
    }
}

@media (min-width: 1024px) {
    .formulario__general {
        width: 63%;
    }
    
    .opciones-registro1 input {
        padding: 17px;
    }

    .inicio-reg-hijo {
        padding: 17px;
    }

    .opciones-de-registro {
        gap: 135px;
        font-size: 20px;
    }

    .INGRESA {
        font-size: 42px;
    }

}