* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-header-general {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 30px;
}


.formulario__general {
    width: 100%;
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
}

ul,
li {
    padding: 0;
    list-style: none;
}

.header-official {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: black;
}

.header-official-general {
    width: 100%;
    height: 120px;
}

.header__buscador__desktop { /*cambios*/
    display: none;
}

.header-official-2 {
    width: 100%;
    height: 86%;
    display: flex;
    border-bottom: 1px  solid #27EAA8;
    background-color: #000;
    align-items: center;
}

.header-info {
    background-color: #27EAA8;
    width: 100%;
    height: 14%;
    text-align: center;
    font-size: 10px;
    padding: 4px;
    box-shadow: inset rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    inset rgba(0, 0, 0, 0.12) 0px -12px 30px, inset rgba(0, 0, 0, 0.12) 0px 4px 6px,
    inset rgba(0, 0, 0, 0.17) 0px 12px 13px, inset rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.nav-opciones {
    width: 26%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 5px;
}

.burguer-menu {
    width: 30px;
    height: 28px;
    background-color: #60e5b8;
    border-radius: 5px;
}

.logo {
    width: 65px;
    height: 61px; 
}

.contenedor-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.icons {
    width: 23%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 7px;
}

.buscar {
    position: relative;
    width: 100%;
}

.buscar input {
    
    border-radius: 8px;
    padding: 3px;
    margin-top: 10px;
}

.lupita {
    position: absolute;
    right: 4px;
    top: 5.2px;
}

.opciones-registro1 {
    position: relative;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}

.input-registro {
    width: 100%; 
    padding: 7px;
    border: 2px solid #60e5b8; 
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2)
}

.eye {
    position: absolute;
    right: 20px;
    top: 19px;
}


.inicio-regristro {
    height: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 10px;
    
}

.inicio-reg-hijo {
    width: 100%;
    background-color: black;
    padding: 8px;
    color: #27EAA8;
    border-radius: 30px;
    font-weight: bold;
}

.captcha-login {
    width: 30%;
    height: 50%;
    align-items: center;
    border: 2px solid #27EAA8;
    background-color: rgba(185, 183, 183, 0.32);
    position: relative;
    right: -32%;
    margin-top: 7%;
    
}

.opciones-de-registro {
    font-size: 15px;
display: flex;
gap: 15px;
}


@media (min-width: 768px) {
    .header__buscador__mobile { /*cambios buscador*/
        display: none;
    }
    
    .header__buscador__desktop {
        display: block;
    }

    .logo__login {
        width: 50%;
        height: 50px;

    }
}