*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cargaProducto__titulo {
    display: flex;
    justify-content: center;
    font-size: 19px;
    background-color: aquamarine;
}

.cargaProducto__formulario {
    display: flex;
    justify-content: center;
    width: 95%;
}

.cargaProducto__contenedor__formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 97%;
    gap: 10px;
    padding: 5px;
}

.cargaProducto__contenedor__formulario input {
    display: flex;
    justify-content: center;
    border: 2px solid #60e5b8; 
    padding: 5px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2)
}

.cargaProducto__contenedor__buton__enviar {
    padding: 10px;
    gap: 10px;
    
}


@media (min-width: 768px) {
    .cargaProducto__contenedor__formulario {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 61%;
        gap: 10px;
        padding: 5px;
    }
    .cargaProducto__contenedor__buton__enviar {
        padding: 10px;
        gap: 10px;
        
    }

}


@media (min-width: 1024px) {
    .cargaProducto__contenedor__formulario {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        padding: 5px;
    }
    .cargaProducto__formulario {
    display: flex;
    justify-content: center;
    width: 100%;
}
.cargaProducto__contenedor__buton__enviar {
    padding: 10px;
    gap: 10px;
    
}
}