.main_dashboard {
    background-color: aquamarine;
}
.tabla_dashboard {
    border:solid 2px rgb(0, 0, 0)
}

.head_tabla_dashboard {
    border:solid 2px rgb(0, 0, 0)
}
.body_tabla_dashboard {
    border:solid 2px rgb(0, 0, 0)
}
