.main_dashboard {
    background-color: var( --GrisClaro);
}
.tabla_dashboard {
    border:solid 2px rgb(0, 0, 0)
}

.head_tabla_dashboard {
    border:solid 2px rgb(0, 0, 0)
}
.body_tabla_dashboard {
    border:solid 2px rgb(0, 0, 0)
}
.boton_dashboard {
    background-color: black;
    color:aqua
}
