.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:5% ;
    
}

.product-details {
    text-align: center;
    background-color:var(--Negro);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image {
    height: auto;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 20%;
}

.description {
    color:var(--Blanco);
    line-height: 1.5;
}

.price {
    color: var(--Verde);
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;
}

.buy-button {
    background-color: var(--Verde);
    color:var(--Negro);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #333;
}