.body-detalleP{
    background-color: #dee2e6;
    margin: 0;
}
.main-detalleP{
    margin: 10px 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.contenedor_general_detalleP{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor_detalle_info{
    width: 80%;
    display: flex;
    flex-direction: column-reverse;
}

.articulos-detalleP{
    margin-top: 2%;
    width: 45%;
    display: flex;
    justify-content: center;
}

#foto-principal-dp{
    width: 121px;
    height: 111px;
    display: inline-block;
    border: 1px solid #000;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px
}
.box_fotos-secund img{
    height: 34vw;
    border: 1px solid #000;
    border-radius: 20%;
    width: 30vw;
    padding: 3%;
}
.box_fotos-secund{
    width: 49vw;
    height: 16vh;
    display: flex;
    margin-left: 17%;
    gap: 10px;
    align-items: center
}
#foto-2-dp{
    height: 22vw;
    border-radius: 20%;
    width: 27vw;
    padding: 3%;
    margin-left: 1vh;
}
#foto-3-dp{
    width: 24vw;
    height: 22vw;
    margin-top: 2%;
}
.nav-bar-detalleP{
    width: 81%;
    display: flex;
    height:  196px;;
    margin: 5%;
    transition: 1sm;
    align-content: space-between;
    flex-direction: column;
    padding: 1%;
    margin-left: 10%;
}
.nav-bar-detalleP ul{
        display: flex;
        background-color: black;
        width: 100%;
        height: 32px;
}
.nav-bar-detalleP ul li a{
    color:white;
    font-size: 14px;
}
.nav-bar-detalleP:hover{
    background-color: rgb(60, 65, 63);
}

.box_detalleP-info{
    width: 83%;
    font-size: 12px;
    font-weight: bold;
    margin: 4%;
}
#nameP{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: rgb(38, 36, 36);
    font-weight: revert-layer;
}
#precioP{
    font-weight: bold;
}
#cuotasP{
    font-size: 10px;
    font-weight: bold;
    color:var(--Verde);
}
.form-select{
    width: 45%;
}
.form-select a{
    font-size: 8px;
}
.btn-detalleP {
    display: flex;
    background-color: black;
    color:var(--Verde);
    border-radius: 50px;
    width: 44%;
    justify-content: center;
    margin-left: 50%;
    padding: 1%;
    border-color:var(--Verde);
}
.btn-detalleP a{
    font-size: 10px;
}
#carrito-dp{
    font-size: 10px;
}
.h5-dp{
    font-size: 8px;
}
.h4-dp{
    font-size: 6px;
}
/* transform and animations  */
.btn-detalleP:hover{
    background-color: var(--Verde);
    border-color:var(--Negro);
    color: var(--Negro);
}
#foto-principal-dp:hover{
    border-color: rgba(0,0,0,.3);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    opacity: 1;
}
#foto-2-dp:hover{
    border-color: rgba(0,0,0,.3);
    transform: translateY(-5px);
    transform: translateY(-5px);
    opacity: 1;
}
#foto-3-dp:hover{
    border-color: rgba(0,0,0,.3);
    transform: translateY(-5px);
    transform: translateY(-5px);
    opacity: 1;
}


@media (min-width:768px){
.body-detalleP{
    max-width: 768px;
    }
    .contenedor_general_detalleP{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .contenedor_detalle_info{
        display: flex;
        flex-direction: column-reverse;
        margin-right: 3%;
    }
    #foto-principal-dp {
        width: 235px;
        height: 233px;
    }
    .compras-detalleP{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 24%;
        margin-top: 36%;
    }
    .articulos-detalleP{
        width: 95vw;
        margin-bottom: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box_foto-principal {
    width: 53%;
    margin: 3% 3%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-top: 2vh;
    }
    .box_fotos-secund {
    margin-left: 9%;
    display: flex;
    height: 41vh;
    width: 48vw;
    gap: 24px;
    justify-content: flex-start;
    align-items: flex-start;
}
#foto-2-dp{
    margin-top: 2%;
    width: 23vw;
    height: 23vw;
    opacity: .5;
    transition: transform .6s,opacity .6s;
}
#foto-3-dp{
    width: 21vw;
    height: 23vw;
    opacity: .5;
    transition: transform .6s,opacity .6s;
}
.nav-bar-detalleP{
    display: flex;
    margin-top: 13px;
    width: 76%;
    height: auto;
}
.compras-detalleP{
    margin-top: 18px;
    width: 70%;
    display: flex;
    margin-left: 3%
}
#nameP{
    color: grey;
    margin-bottom: 10%;
    margin-top: 1%;
    font-size: 16px;
}
#precioP{
    margin-top: -6.5%;
    margin-bottom: 3%
}
#cuotasP{
    color: #178862;
    margin-bottom: 2%;
    font-size: 16px;
}
.btn-detalleP {
    width: 37%;
    margin-top: -4%;
    font-size: 12px;
}
.box_detalleP-info {
    
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 2%;
    
} 
.linea-div-detalleP{
    color: black;
    height: 5px;
    width: 50%;
}
}

@media (min-width:1024px){
    .body-detalleP{
        max-width: 1070px;
        border: 2px solid rgba(128, 128, 128, 0.635);
    }
    .main-detalleP{
        display: flex;
        max-width: 1060px;
    }
    .contenedor_general_detalleP{
        width: 95%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        gap: 21px;
        max-width: 1024px;
    }
    .contenedor_fila_detalleP{
        width: 100%;
        display: flex;
        flex-direction: row
    }
    .contenedor_detalle_info{
        display: flex;
        flex-direction: column;
        width: 46%;
        align-items: flex-end;
        margin-left: 6%;
        position: relative;
    /* display: flex; */
    /* flex-direction: column; */
    /* width: 50%; */
    /* align-items: flex-end; */
    /* margin-left: 8%; */
    }
    .articulos-detalleP {
        width: 36vh;
        margin-top: 3%;
        margin-left: 4%
        /* width: 37vh; */
    /* margin-top: 3%; */
    /* margin-left: 4%; */
    }
    .box_foto-principal{
        width: 30vw;
        margin-top: 7%;
    }
    #foto-principal-dp {
        height: 39vh;        
    }
    .box_fotos-secund {
        /* width: 36vw; */
        /* height: 35vh; */
        /* margin-top: 74%; */
        /* margin-right: 35vw; */
        /* position: absolute;        */
    width: 34vw;
    height: 35vh;
    margin-top: 81%;
    margin-right: 19vw;
    position: absolute; 
    }
    #foto-2-dp {
        max-width: 100%;
        height: auto;
        display: inline-block;
        vertical-align: middle;
        width: 8vw;
        height: 15vh
    }
    #foto-3-dp {
        max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    width: 8vw;
    height: 15vh;
    }
    .box_detalleP-info {
    font-size: 25px;
    display: inline;
    margin-top: 18%;
    margin-bottom: 8%;
    } 
    #nameP{
        width: 41vw;
    }
    .nav-bar-detalleP{
        width: 28vw;
        margin-top: 9%;
        height: 32%;
        display: flex;
        align-items: stretch;
        justify-content: center
    /* width: 47vw; */
    /* margin-top: 11%; */
    /* height: 39%; */
    /* display: flex; */
    /* align-items: stretch; */
    /* justify-content: space-evenly */
    }
    .compras-detalleP{
        width: 27vw;
        height: 18vw;
        /* width: 43vw; */
        /* height: 21vw;         */
    }
    #precioP{
        font-size: 23px;
    }
    #cuotasP{
        font-size: 17px;
    }
    .form-select{
        margin: 10%;
        margin-left: 2%;
    }
    .btn-detalleP{
        font-size: 16px;
    }
    .h5-dp{
        margin-left: 3%;
    }
    .compras-detalleP div{
        
        font-size: 18px;
    }
    .h4-dp{
        font-size: 16px;
    }
}
/* @media (min-width:1440px){ */
    /* .body-detallesP{ */
        /* max-width: 1440px;  */
    /* } */
    /* .main-detalleP{ */
        /* width: 95vw; */
        /* max-width: 1440px; */
    /* } */
    /* .contenedor_general_detalleP{ */
        /* max-width: 1440px; */
    /* } */
    /* .box_foto-principal { */
        /* width: 53%; */
        /* display: flex; */
        /* justify-content: flex-end; */
        /* margin-left: 31%; */
    /* } */
    /* .box_fotos-secund { */
        /* margin-right: 38vw; */
        /* max-width: 1440px; */
    /* } */
    /* .contenedor_detalle_info{ */
        /* margin-left: 16%; */
        /* max-width: 1440px; */
    /* } */
    /* .nav-bar-detalleP{ */
        /* width: 34vw; */
        /* margin-top: 11%; */
        /* height: 39%; */
        /* display: flex; */
        /* align-items: stretch; */
        /* justify-content: space-evenly; */
        /* max-width: 1440px */
    /* } */
/* }; */