
.main-detalleP {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor_general_detalleP {
    display: flex;
    justify-content: space-between;
    width: 85%;
}


.articulos-detalleP {
    width: 50%;
}

.box_foto-principal img {
    width: 84%;
    border: 1px solid var(--Negro);
    border-radius: 20%;
    margin-top: 10%;
    margin-left: 35px;
}

.foto-secundaria{
    border: 1px solid var(--Negro);
    border-radius: 20%;
}

.contenedor_detalle_info {
    width: 45%;
    padding: 20px;
}

.form-select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

.btn-detalleP {
    background-color: #333;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn-detalleP a {
    color: #fff;
    text-decoration: none;
}

.box_fotos-secund {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    overflow: hidden;
}

#foto-2-dp {
    border: 1px solid var(--Negro);
    border-radius: 20%;
}

#foto-3-dp {
    border: 1px solid var(--Negro);
    border-radius: 20%;
}

.box_fotos-secund img {
    width: 48%;
    height: auto;
}

.box_detalleP-info {
    width: 90%;
    margin: 20px auto;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    color: var(--Negro);
}


.nav-bar-detalleP ul {
    text-align: center;
    font-size: 25px;
}

.nav-bar-detalleP li {
    display: inline;
    margin-right: 10px;
}

.nav-bar-detalleP a {
    text-decoration: none;
    color: var(--Verde);
    font-weight: bold;
}

.compras-detalleP {
    margin-bottom: 20px;
}

#nameP {
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 15%;
    margin-bottom: 10%;
    background-color: var(--Negro);
    color: var(--Verde);
    text-align: center;
}

#precioP {
    font-size: 31px;
    color: bold var(--Negro);
    margin-bottom: 5px;
    text-align: center;
}

#cuotasP {
    font-size: 16px;
    color: var(--Negro);
    margin-bottom: 10px;
    text-align: center;
}

#detalleP-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
}

#detalleP-icons i {
    font-size: 40px;
    margin: 0 10px;
}

.form-select {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}

.btn-detalleP {
    background-color: var(--Negro);
    padding: 12px;
    cursor: pointer;
    border-radius: 5%;
    font-weight: bold;
    border-color: 1px solid #000;
}

.h5-dp {
    margin-top: 0%;
    color: var(--Negro);
    font-size: 25px;
    text-align: center;
}

.nav-bar-detalleP i {
    margin-right: 5px;
    font-size: 30px;
    color: var(--Verde);
}


@media (max-width: 768px){
  

    .box_foto-principal img {
        width: 84%;
        border: 1px solid var(--Negro);
        border-radius: 20%;
        margin-top: 17%;
        margin-left: 35px;
    }

    .h5-dp {
        margin-top: 0%;
        color: var(--Negro);
        font-size: 25px;
        text-align: center;
    }

}


/* Mobile View (up to 320px) */
@media (max-width: 320px) {
    .box_foto-principal img {
        width: 84%;
        border: 1px solid var(--Negro);
        border-radius: 20%;
        margin-top: 7%;
        margin-left: 18px;
    }

    .h5-dp {
        margin-top: 0%;
        color: var(--Negro);
        font-size: 23px;
    }

    .contenedor_general_detalleP {
        flex-direction: column;
        margin: 10px;
    }

    .articulos-detalleP,
    .contenedor_detalle_info {
        width: 100%;
    }

    .box_fotos-secund {
        flex-direction: column;
        margin-top: 10px;
    }

    .box_fotos-secund img {
        width: 74%;
        margin-bottom: 10px;
        margin-left: 32px;
    }

    .contenedor_detalle_info {
        padding: 10px;
    }

    .compras-detalleP,
    .h5-dp,
    .h4-dp {
        text-align: center;
    }

    .btn-detalleP {
        width: 100%;
        box-sizing: border-box;
    }

    .form-select,
    .btn-detalleP {
        margin-top: 10px;
    }
}
