.header_navegacion__icons i:hover {
    color: var(--Verde);
}

.header_navegacion__icons p:hover {
    color: var(--Verde);
}


.INGRESA {
    margin-bottom: 6%;
    animation-name: INGRESA; 
    animation-duration: 1000ms;  
    animation-iteration-count: infinite;
    color: var(--Blanco);
}
.div-main-login{
    margin-top: -3%;
    padding: 4%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(61, 57, 57, 0.8), rgb(255, 255, 255));
    border-radius: 6%;
}

.div-main-login{
    margin-bottom: 2%;
    margin-top: 3%;
    padding: 4%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario__general {
    width: 90%;
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.opciones-registro1 {
    position: relative;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}

.input-registro {
    width: 100%; 
    padding: 7px;
    border: 2px solid #60e5b8; 
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.eye {
    position: absolute;
    right: 20px;
    top: 19px;
}

.inicio-regristro {
    height: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 10px;
}

.inicio-reg-hijo {
    width: 100%;
    background-color: black;
    padding: 8px;
    color: #27EAA8;
    border-radius: 30px;
    font-weight: bold;
}

.captcha-login {
    width: 30%;
    height: 50%;
    align-items: center;
    border: 2px solid #27EAA8;
    background-color: rgba(185, 183, 183, 0.32);
    position: relative;
    right: -32%;
    margin-top: 7%;
}

.opciones-de-registro {
    font-size: 15px;
    display: flex;
    gap: 15px;
    color: black
}

.opciones-de-registro a{
    color: var(--Negro);
}


.g-recaptcha {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

@media (min-width: 768px) and (max-width: 1000px) {
    .div-main-login {
        width: 70%;
    }

    .formulario__general {
        width: 80%;
    }

    .opciones-registro1 input {
        padding: 12px;
    }

    .inicio-reg-hijo {
        padding: 12px;
    }

    .opciones-de-registro {
        gap: 25px;
        font-size: 16px;
    }

    .eye {
        position: absolute;
        right: 30px;
        top: 30px;
    }
}

@media (max-width: 320px) {
    .div-main-login {
        width: 93%;
    }

    .formulario__general {
        width: 100%;
    }

    .opciones-registro1 input {
        padding: 10px;
    }

    .inicio-reg-hijo {
        padding: 10px;
    }

    .opciones-de-registro {
        gap: 10px;
        font-size: 14px;
    }

    .eye {
        position: absolute;
        right: 15px;
        top: 15px;
    }
}
