.registro_main a {
    color:var(--Negro)
    
}

.registro_main a:hover {
    cursor: pointer;
}


.registro_main a:visited {
    color:var(--Negro)
}

.registro_main_titulos p {
text-align: center;
font-size: 12px;
}

.registro_main_titulos h1 {
    background-color: var(--Negro);
    font-size: 25px;
    color:var(--Blanco);
    padding:2%;
    text-align: center;
    width: 100%;
    border-top: 1px solid ;
    text-transform: uppercase;
    border-top: 1px solid var(--Verde);
    border-bottom: 1px solid var(--Verde);
    margin:0;

}
.section_registro_main_formulario_account {
padding: 5%;
/* display: flex;
justify-content: center; */
}

.registro_main form {
    display:flex;
    flex-direction: column;
    
}

.registro_main_titulos_account {
    font-style: italic;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin: 10px 0px 10px 0px;
}

.registro_main_titulos_account a {
    font-weight: 700;
}

.registro_main_formulario_account label {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    margin-top: 7px;
}

.registro_main_formulario_account input, textarea {
    border:1px solid var(--Verde);
    padding: 2%;
}

.registro_main_formulario_account textarea {

resize: none;

}  
.registro_main_formulario_account input::placeholder {
font-style: italic;
font-size: 12px;
}

.registro_main_botones_account {
    margin-top: 10px;
    text-align: center;
    
}
.registro_main_botones_account button{
    font-size:16px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--Negro);
    color:var(--Verde);
    width: 90%;
    border:1px solid var(--Verde);
    border-radius: 50px;
    padding: 3%;
    transition: all 2s;

}

.g-recaptcha {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.registro_main_botones_account button:hover {
background-color: var(--Verde);
color:var(--Negro);
cursor: pointer;
}


.registro_carrito {
display: none;   
}


@media (min-width:768px) {
    .registro_main_titulos p {
        
    font-size: 25px;
    }
    
    .registro_main_titulos h1 {
        
    font-size: 50px;
    padding:1%;
        
    }    

    .registro_main_titulos_account {
        font-size: 20px;
        
    }

    .registro_main_formulario_account {
        width: 100%;
        ;
    }
    .registro_main_botones_account {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        order: 0;
    
    }
    .registro_main_botones_account button {
        width: 45%;
        margin-bottom: 10px;
        
    }
}

@media (min-width:1024px) {
    .section_registro_main_formulario_account {
        width:40%;
        margin:0 auto;
        padding: 1% 0% 0% 0%;
    }

}
