
<%- include('./partials/header.ejs') %>

<body>
    <h1 class="cargaProducto__titulo">Formulario de carga de producto</h1>

<form class="cargaProducto__formulario" action="/producto" method="post">

        <div class="cargaProducto__contenedor__formulario">
    <input type="text" name="nombre" placeholder="Nombre">
    <input type="file" name="imagen">
    <textarea name="descripcion" placeholder="Descripción"></textarea>
    <input type="text" name="marca" placeholder="Marca">
    <input type="text" name="categoria" placeholder="Categoría">
    <input type="number" name="precio" placeholder="Precio">
    <input type="submit" value="Enviar">
        </div>
</form>
        
    
</body>

