<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='stylesheets/style.css'/>
    <script src="https://kit.fontawesome.com/cbbf860933.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b99d7ed5f9.js" crossorigin="anonymous"></script>
    <title><%=title%></title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <section class="main_index_section_carrusel">
            <div class="slider-frame">
            <ul>
                <li><img src="/img/carrusel/banner-1-1400x462.webp" alt=""></li>
                <li><img src="/img/carrusel/banner1-1400x462.webp" alt=""></li>
                <li><img src="/img/carrusel/banner4-1400x462.webp" alt=""></li>
                <li><img src="/img/carrusel/geekon-banner-2023-1400x462.webp" alt=""></li>
            </ul>
        </div>
            
        </section>
    <section class="main_index_section_titulos"><h4>tendencias y ofertas</h4></section>

    <section class="main_index_section_tendecias">
        
        <section class="main_index_section_article_division">
        <article class="main_index_section_articulo">
        <a href="/product/detalleP"><img src="/img/productos/naruto.jpg" class="main_imagen_producto"></a>
            <div class="main_index_descripcion-precio">
            <a href="/product/detalleP"><h5 class="main_descripcion">Naruto Shippuden - Naruto Uzumaki Good Smile</h5>
            <p class="main_precio">$3.600,00 $3.240,00 </p>
            <p class="main_cuotas">3 cuotas sin interés de $1.080,00</p></a>
            <div class="main_index_section_botones">
            <button class="main_index_botones">Comprar</button> 
            <button class="main_index_botones">Agregar al <i class="fa-solid fa-cart-shopping"></i></i></button>
        </div>
        </div>
        </article>

        <article class="main_index_section_articulo">
            <a href="/product/detalleP"><img src="/img/productos/naruto.jpg" class="main_imagen_producto"></a>
            <div class="main_index_descripcion-precio">
            <a href="/product/detalleP"><h5 class="main_descripcion">Naruto Shippuden - Naruto Uzumaki Good Smile</h5>
            <p class="main_precio">$3.600,00 $3.240,00 </p>
            <p class="main_cuotas">3 cuotas sin interés de $1.080,00</p></a>
            <div class="main_index_section_botones">
            <button class="main_index_botones">Comprar</button> 
            <button class="main_index_botones">Agregar al <i class="fa-solid fa-cart-shopping"></i></i></button>
        </div>
        </div>
        </article>
    </section>
    <section class="main_index_section_article_division">
        <article class="main_index_section_articulo">
            <a href="/product/detalleP"><img src="/img/productos/naruto.jpg" class="main_imagen_producto"></a>
            <div class="main_index_descripcion-precio">
            <a href="/product/detalleP"><h5 class="main_descripcion">Naruto Shippuden - Naruto Uzumaki Good Smile</h5>
            <p class="main_precio">$3.600,00 $3.240,00 </p>
            <p class="main_cuotas">3 cuotas sin interés de $1.080,00</p></a>
            <div class="main_index_section_botones">
            <button class="main_index_botones">Comprar</button> 
            <button class="main_index_botones">Agregar al <i class="fa-solid fa-cart-shopping"></i></i></button>
        </div>
        </div>
        </article>

        <article class="main_index_section_articulo">
            <a href="/product/detalleP"><img src="/img/productos/naruto.jpg" class="main_imagen_producto"></a>
            <div class="main_index_descripcion-precio">
            <a href="/product/detalleP"><h5 class="main_descripcion">Naruto Shippuden - Naruto Uzumaki Good Smile</h5>
            <p class="main_precio">$3.600,00 $3.240,00 </p>
            <p class="main_cuotas">3 cuotas sin interés de $1.080,00</p></a>
            <div class="main_index_section_botones">
            <button class="main_index_botones">Comprar</button> 
            <button class="main_index_botones">Agregar al <i class="fa-solid fa-cart-shopping"></i></i></button>
        </div>
        </div>
        </article>
    </section>
    </section>

    <section class="main_index_section_marcas">
        
            <img src="/img/bandai jpg.jpg">
            <img src="/img/banpresto.png">
            <img src="/img/good-smile.png">
            <img src="/img/pop!.png">
            <img src="/img/tsume.jpeg">
        
    </section>

    <section class="main_index_section_ofertas">
        
        <section class="main_index_section_article_division">
        <article class="main_index_section_articulo">
        <a href="/product/detalleP"><img src="/img/productos/naruto.jpg" class="main_imagen_producto"></a>
            <div class="main_index_descripcion-precio">
            <a href="/product/detalleP"><h5 class="main_descripcion">Naruto Shippuden - Naruto Uzumaki Good Smile</h5>
            <p class="main_precio">$3.600,00 $3.240,00 </p>
            <p class="main_cuotas">3 cuotas sin interés de $1.080,00</p></a>
            <div class="main_index_section_botones">
            <button class="main_index_botones">Comprar</button> 
            <button class="main_index_botones">Agregar al <i class="fa-solid fa-cart-shopping"></i></i></button>
        </div>
        </div>
        </article>

        <article class="main_index_section_articulo">
            <a href="/product/detalleP"><img src="/img/productos/naruto.jpg" class="main_imagen_producto"></a>
            <div class="main_index_descripcion-precio">
            <a href="/product/detalleP"><h5 class="main_descripcion">Naruto Shippuden - Naruto Uzumaki Good Smile</h5>
            <p class="main_precio">$3.600,00 $3.240,00 </p>
            <p class="main_cuotas">3 cuotas sin interés de $1.080,00</p></a>
            <div class="main_index_section_botones">
            <button class="main_index_botones">Comprar</button> 
            <button class="main_index_botones">Agregar al <i class="fa-solid fa-cart-shopping"></i></i></button>
        </div>
        </div>
        </article>
    </section>
    <section class="main_index_section_article_division">
        <article class="main_index_section_articulo">
            <a href="/product/detalleP"><img src="/img/productos/naruto.jpg" class="main_imagen_producto"></a>
            <div class="main_index_descripcion-precio">
            <a href="/product/detalleP"><h5 class="main_descripcion">Naruto Shippuden - Naruto Uzumaki Good Smile</h5>
            <p class="main_precio">$3.600,00 $3.240,00 </p>
            <p class="main_cuotas">3 cuotas sin interés de $1.080,00</p></a>
            <div class="main_index_section_botones">
            <button class="main_index_botones">Comprar</button> 
            <button class="main_index_botones">Agregar al <i class="fa-solid fa-cart-shopping"></i></i></button>
        </div>
        </div>
        </article>

        <article class="main_index_section_articulo">
            <a href="/product/detalleP"><img src="/img/productos/naruto.jpg" class="main_imagen_producto"></a>
            <div class="main_index_descripcion-precio">
            <a href="/product/detalleP"><h5 class="main_descripcion">Naruto Shippuden - Naruto Uzumaki Good Smile</h5>
            <p class="main_precio">$3.600,00 $3.240,00 </p>
            <p class="main_cuotas">3 cuotas sin interés de $1.080,00</p></a>
            <div class="main_index_section_botones">
            <button class="main_index_botones">Comprar</button> 
            <button class="main_index_botones">Agregar al <i class="fa-solid fa-cart-shopping"></i></i></button>
        </div>
        </div>
        </article>
    </section>
    </section>

<section class="main_index_section_envios">
<article >
    <img src="/img/formas de pago/truck.png">
    <div class="main_index_textos_envios">
        <h6>Envíos a todo el país</h6>
        <p>Envíos gratis a domicilio a partir de $14000</p>
    </div>
</article>
<article>
    <img src="/img/formas de pago/cardcredit.png">
    <div class="main_index_textos_envios">
        <h6>Tarjeta de crédito</h6>
        <p>Hasta 3 cuotas sin interés</p>
    </div>
</article>
<article>
    <img src="/img/formas de pago/regalo.png">
        <div class="main_index_textos_envios">
            <h6>Postales de regalo</h6>
            <p>Con tu compra llevate una postal de regalo</p>
        </div>
</article>

</section>

    
    <footer>
        <section class="footer_section_parte1">
            <article class="footer_section_article">
                <div class="footer_section_article_titulos">
                    <hr class="linea"><h4>síguenos</h4><hr class="linea">
        </div>
                <ul>
                    <li><a href="" target="_blank"><i class="fa-brands fa-instagram"></i><p> punto_coleccion<p></p></a></li>
                    <li><a href="" target="_blank"><i class="fa-brands fa-square-facebook"></i><p> puntocoleccion</p></a></li>
                    <li><a href="" target="_blank"><i class="fa-brands fa-twitter"></i><p> @puntonoticias</p></a></li>
                </ul>
            </article>

            <article class="footer_section_article">
                <div class="footer_section_article_titulos">
                    <hr class="linea2"> <h4>marcas destacadas</h4><hr class="linea2">
            </div>
                <div class="footer_article_marcas_descatadas">
                <img src="/img/pop!.png">
                <img src="/img/banpresto.png"> 
                <img src="/img/tsume.jpeg">
                <img src="/img/bandai jpg.jpg">
                <img src="/img/good-smile.png">
                
            

                </div>    
            </article>

            <article class="footer_section_article">
                <div class="footer_section_article_titulos">
                    <hr class="linea"><h4>ayuda</h4><hr class="linea">
            </div>
                                <ul>
                    <li><a href="">La Empresa</a></li>
                    <li><a href="">Preguntas Frecuentes</a></li>
                    <li><a href="">Avisos Legales</a></li>
                    <li><a href="">Contáctenos</a></li>
                    
                </ul>
            </article>
        </section>
        <section class="footer_section_parte2">
            <img src="/img/LogoP-footer.png" alt="Logo">
            <div class="footer_section_derechos_contactos">
            <p>Copyright 2023©Punto Colección-Todos los derechos reservados</p>
            <p> Contacto:<i class="fa-brands fa-whatsapp"></i>11 76543234<i class="fa-solid fa-at"></i>contacto@puntocoleccion.com</p>
            </div>
        </section> 
        

    </footer>
    
</body>
</html>
