<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/cbbf860933.js" crossorigin="anonymous"></script>
    <title>punto coleccion login</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>

    <%= include('./partials/header') %>

    <main class="main">

    <h1 class="INGRESA">INGRESA</h1>

        <form action="/users/login" method="post" class="formulario__general">
        <div  class="form">
        <div  class="opciones-registro1">
            <input class="input-registro" type="email" placeholder="correo electronico" />
        </div>
        </div>
        <div  class="form">
        
        <div  class="opciones-registro1">
            <input  class="input-registro" type="password" placeholder="contraseña" />
            <i class=" eye fa-regular fa-eye-slash"></i>
        </div>
        </div>
        
        <div  class="form">
        <div  class="opciones-registro1">
            <button type="submit" class="inicio-reg-hijo">
                INGRESAR
            </button>
            </div>
        </div>
    
    <div class="form">
        <div  class="opciones-registro1">
            <a href="/users/registro"></a><button class="inicio-reg-hijo"> 
                REGISTRAME
            </button></a>
            </div>
    </div>
    </form>

    <form>
        
    <div class="opciones-de-registro">
        <a href="/users/registro"> Crear Cuenta </a> 
    
        <a href=""> ¿olvidó su contraseña? </a>
    </div>
    </form>

    <div class="g-recaptcha" data-sitekey="6LeSXBMpAAAAANooS21qTPO1k_ga29vmHPZm9CQI"></div>
    <br/>


</main>

<footer>
    <section class="footer_section_parte1">
        <article class="footer_section_article">
            <div class="footer_section_article_titulos">
                <hr class="linea"><h4>síguenos</h4><hr class="linea">
    </div>
            <ul>
                <li><a href="" target="_blank"><i class="fa-brands fa-instagram"></i><p> punto_coleccion<p></p></a></li>
                <li><a href="" target="_blank"><i class="fa-brands fa-square-facebook"></i><p> puntocoleccion</p></a></li>
                <li><a href="" target="_blank"><i class="fa-brands fa-twitter"></i><p> @puntonoticias</p></a></li>
            </ul>
        </article>

        <article class="footer_section_article">
            <div class="footer_section_article_titulos">
                <hr class="linea2"> <h4>marcas destacadas</h4><hr class="linea2">
        </div>
            <div class="footer_article_marcas_descatadas">
            <img src="/img/pop!.png">
            <img src="/img/banpresto.png"> 
            <img src="/img/tsume.jpeg">
            <img src="/img/bandai jpg.jpg">
            <img src="/img/good-smile.png">
            </div>     
        </article>

        <article class="footer_section_article">
            <div class="footer_section_article_titulos">
                <hr class="linea"><h4>ayuda</h4><hr class="linea">
        </div>
            <ul>
                <li><a href="">La Empresa</a></li>
                <li><a href="">Preguntas Frecuentes</a></li>
                <li><a href="">Avisos Legales</a></li>
                <li><a href="">Contáctenos</a></li>
                
            </ul>
        </article>
    </section>
    <section class="footer_section_parte2">
        <img src="/img/LogoP-footer.png" alt="Logo">
        <div class="footer_section_derechos_contactos">
        <p>Copyright 2023©Punto Colección-Todos los derechos reservados</p>
        <p> Contacto:<i class="fa-brands fa-whatsapp"></i>11 76543234<i class="fa-solid fa-at"></i>contacto@puntocoleccion.com</p>
        </div>
    </section> 
</footer>
</body>
</html>