<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://kit.fontawesome.com/cbbf860933.js" crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <title>Punto Coleccion</title>
</head>
<body>
    
    <%- include('./partials/header.ejs') %>

    <main class="registro_main">
        <section class="registro_main_titulos">
            <a href="/"><p>Inicio</a>▶<a href="/users/login">Cuenta</a>▶Crear Cuenta</p>
            <h1>Crear Cuenta</h1>
        </section>
        <p class="registro_main_titulos_account">¿Ya ténes una cuenta? <a href="/users/login">Iniciá Sesión</a></p>
        <section class="section_registro_main_formulario_account">
            <form action="/users/registro" method="post" class="registro_main_formulario_account">
                <label for="nombre">NOMBRE:</label>
                <input type="text" name="nombre" placeholder="ej: Roberto Carlos">
                <label for="email">E-MAIL:</label >
                <input type="email" name="email" placeholder="ej: tumail@email.com" required>
                <label for="telefono">TELÉFONO:</label >
                <input type="tel" name="apellido" placeholder="ej:1122334455">
                <label for="password">CONTRASEÑA:</label>
                <input type="password" name="password" placeholder="●●●●●●●●" required>
                <label for="password">REPETIR CONTRASEÑA:</label>
                <input type="password" name="password" placeholder="●●●●●●●●" required>
                
                <div class="g-recaptcha" data-sitekey="6LeSXBMpAAAAANooS21qTPO1k_ga29vmHPZm9CQI"></div>

                <div class="registro_main_botones_account">
                    <button type="submit">CREAR CUENTA</button>
                    <button type="reset">BORRAR FORMULARIO</button>
                </div>
            </form>
        </section>
        <p class="registro_main_titulos_account">¿Ya ténes una cuenta? <a href="/users/login">Iniciá Sesión</a></p>
    </main>
    
        <footer>
            <section class="footer_section_parte1">
                <article class="footer_section_article">
                    <div class="footer_section_article_titulos">
                        <hr class="linea"><h4>síguenos</h4><hr class="linea">
            </div>
                    <ul>
                        <li><a href="" target="_blank"><i class="fa-brands fa-instagram"></i><p> punto_coleccion<p></p></a></li>
                        <li><a href="" target="_blank"><i class="fa-brands fa-square-facebook"></i><p> puntocoleccion</p></a></li>
                        <li><a href="" target="_blank"><i class="fa-brands fa-twitter"></i><p> @puntonoticias</p></a></li>
                    </ul>
                </article>
    
                <article class="footer_section_article">
                    <div class="footer_section_article_titulos">
                        <hr class="linea2"> <h4>marcas destacadas</h4><hr class="linea2">
                </div>
                    <div class="footer_article_marcas_descatadas">
                    <img src="/img/pop!.png">
                    <img src="/img/banpresto.png"> 
                    <img src="/img/tsume.jpeg">
                    <img src="/img/bandai jpg.jpg">
                    <img src="/img/good-smile.png">
                    
                
    
                    </div>    
                </article>
    
                <article class="footer_section_article">
                    <div class="footer_section_article_titulos">
                        <hr class="linea"><h4>ayuda</h4><hr class="linea">
                </div>
                        <ul>
                        <li><a href="">La Empresa</a></li>
                        <li><a href="">Preguntas Frecuentes</a></li>
                        <li><a href="">Avisos Legales</a></li>
                        <li><a href="">Contáctenos</a></li>
                        
                    </ul>
                </article>
            </section>
            <section class="footer_section_parte2">
                <img src="/img/LogoP-footer.png" alt="Logo">
                <div class="footer_section_derechos_contactos">
                <p>Copyright 2023©Punto Colección-Todos los derechos reservados</p>
                <p> Contacto:<i class="fa-brands fa-whatsapp"></i>11 76543234<i class="fa-solid fa-at"></i>contacto@puntocoleccion.com</p>
                </div>
            </section> 
    </footer>
</body>
</html>