<footer>
  <section class="footer_section_parte1">
    <article class="footer_section_article">
      <div class="footer_section_article_titulos">
        <hr class="linea" />
        <h4>síguenos</h4>
        <hr class="linea" />
      </div>
      <ul>
        <li>
          <a href="https://www.instagram.com/punto_coleccion" target="_blank">
            <i class="fa-brands fa-instagram"></i>
            <p>punto_coleccion</p>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/puntocoleccion" target="_blank">
            <i class="fa-brands fa-square-facebook"></i>
            <p>puntocoleccion</p>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/puntonoticias" target="_blank">
            <i class="fa-brands fa-twitter"></i>
            <p>@puntonoticias</p>
          </a>
        </li>
      </ul>
    </article>

    <article class="footer_section_article">
      <div class="footer_section_article_titulos">
        <hr class="linea2" />
        <h4>marcas destacadas</h4>
        <hr class="linea2" />
      </div>
      <div class="footer_article_marcas_descatadas">
        <img src="/img/pop!.png" />
        <img src="/img/banpresto.png" />
        <img src="/img/tsume.jpeg" />
        <img src="/img/bandai jpg.jpg" />
        <img src="/img/good-smile.png" />
      </div>
    </article>

    <article class="footer_section_article">
      <div class="footer_section_article_titulos">
        <hr class="linea" />
        <h4>ayuda</h4>
        <hr class="linea" />
      </div>
      <ul>
        <li><a href="">La Empresa</a></li>
        <li><a href="">Preguntas Frecuentes</a></li>
        <li><a href="">Avisos Legales</a></li>
      </ul>
    </article>
  </section>
  <section class="footer_section_parte2">
    <img src="/img/LogoP-footer.png" alt="Logo" />
    <div class="footer_section_derechos_contactos">
      <p>Copyright 2023©Punto Colección-Todos los derechos reservados</p>
      <p>
        Contacto:<i class="fa-brands fa-whatsapp"></i><a href="https://wa.me/11123456789" target="_blank">11 76543234</a><i
          class="fa-solid fa-at"
        ></i
        >contacto@puntocoleccion.com
      </p>
    </div>
  </section>
</footer>
