<div class="div_wpp">
    <a
      rel="noreferrer"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=+541176543234&text=Hola%20en%20que%20podemos%20ayudarte?"
    >
    <i class="fa-brands fa-whatsapp"></i>
    </a>
    
  </div>
  